@use "vars" as *;

.faq-section {
    h2 {
        margin-top: 0;
    }

    details {
        display: block;
        margin-bottom: 12px;
    }

    .response {
        padding: 12px 16px 16px;
        color: $black_color;
    }
}

@media (max-width: 520px) {
    .faq-section {
        .response {
            padding: 10px 12px 14px;
        }
    }
}
