@use "vars" as *;

.methodology {
    .methodology__content {
        border: 1px solid $gray_border_color;
        padding: 20px 40px;
        border-radius: $border_rad;

        h3,
        strong {
            color: $dop_green_color;
        }
    }
}
