@use "../vars" as *;

details {
    display: flex;

    summary {
        list-style: none;
        border: 1px solid $yellow_color;
        padding: 20px 50px 20px 30px;
        background-color: $yellow_color;
        border-radius: 20px;
        position: relative;

        &::before {
            content: "";
            background-color: white;
            position: absolute;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            right: 10px;
            top: calc(50% - 15px);
            background-image: url("../../img/icon/arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50% 50%;
        }
    }

    &[open] summary {
        background-color: $sub_color;
    }

    &[open] summary:before {
        content: "";
        transform: rotate(180deg);
    }
}
